
/*Responsive Screens */
@media only screen and (min-width: 600px) {
    /* For tablets: W3Schools sizing percentage suggestions*/
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: W3Schools sizing percentage suggestions */
  [class*="col-"] {
      width: 100%;
  }
}
@media only screen and (min-width: 768px) {
    /* For desktop: W3Schools sizing percentage suggestions*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*This manipulates the top right text and the P text*/
body {
  color: #000000;
  font-weight: 400;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}
/*This manipulates the picture on the top left*/
.title-logo {
  margin-top: 10px;
  width: 5em;
  height: 5em;
  float:left;
  border: 1px solid #ddd;
  border-radius: 10px;
}
/*This is the line between the heart and the header*/
.header {
  margin-bottom: 20px;
  border-bottom: 5px solid #7d97ad;
}
/*Makes my name at the top right POP*/
.name {
  font-size: 30px;
}
/*Give the main image it's cordinates on the page*/
.main-image {
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

/*Special to the words 'featured work'*/
.featured-work {
  color: #7d97ad;
  margin-bottom: 1em;
}

/* Custom features for the footer */
.footer {
  padding-top: 19px;
  color: #0f0f0f;
  border-top: 1px solid #595959;
  text-align: center;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.image-resizer {
  max-width: 100%;
 }

.heart-resizer {
  max-width: 80%;
  max-height: 500px;
}

.right-pad {
  padding-right: 5%;
}