
body {
    background-color: #C0C0C0;
}
  .sidebar {
    position: inherit;
    width: inherit;
    margin: 0;
    padding: 25px;
    background-color: #808080;
  }

  .sidebar .sidebar-text {
    float: right;
  }

  .sidebar .meta {
    margin-left: 0;
  }
  .sidebar .meta .icon {
    margin-right: 0;
  }

  .sidebar .sections {
    margin: 10px 0 0 10px;
  }

  .sidebar .sections a {
    font-size: 16px;
    margin: 0 20px 0 0;
    padding: 5px 10px;
  }

  .content {
    margin: 0;
    padding: 5px 25px;
    width: inherit;
  }


.rainbowtext {
  background-image: linear-gradient(90deg, 
    #f6881a 0%, 
    #f15c3d 17%, 
    #f1658c 33%, 
    #9558a0 50%, 
    #346ad4 67%, 
    #14c1dc 83%,
    #00ba00 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.avatar:hover {
  -webkit-animation: rainbow 0.5s infinite;
  -moz-animation: rainbow 0.5s infinite;
  animation: rainbow 0.5s infinite;
}

@-webkit-keyframes rainbow {
  0%, 100% { -webkit-filter: invert(0%) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@-moz-keyframes rainbow {
  0%, 100% { filter: invert(0%) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@keyframes rainbow {
  0%, 100% { -webkit-filter: invert(0) saturate(100%) hue-rotate(0deg);
                 filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg);
                 filter: invert(10%) saturate(500%) hue-rotate(180deg);}
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg);
           filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg);
                     filter: invert(10%) saturate(500%) hue-rotate(90deg);}
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

}
