body {
    background-color: #FF99CC;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E318A0;
    overflow-x: hidden;
}

.rainbowtext {
  width: 300px;
  background-image: linear-gradient(90deg, 
  	#f6881a 0%, 
  	#f15c3d 17%, 
	  #f1658c 33%, 
	  #9558a0 50%, 
    #346ad4 67%, 
	  #14c1dc 83%,
	  #00ba00 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.avatar:hover {
  -webkit-animation: rainbow 0.5s infinite;
  -moz-animation: rainbow 0.5s infinite;
  animation: rainbow 0.5s infinite;
}

.content {
    margin-left: 200px;
    padding: 0px 10px;
}

@-webkit-keyframes rainbow {
  0%, 100% { -webkit-filter: invert(0%) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@-moz-keyframes rainbow {
  0%, 100% { filter: invert(0%) saturate(100%) hue-rotate(0deg); }
  25%      { filter: invert(10%) saturate(500%) hue-rotate(180deg); }
  50%      { filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { filter: invert(10%) saturate(500%) hue-rotate(90deg); }
}
@keyframes rainbow {
  0%, 100% { -webkit-filter: invert(0) saturate(100%) hue-rotate(0deg);
  	             filter: invert(0) saturate(100%) hue-rotate(0deg); }
  25%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(180deg);
  	             filter: invert(10%) saturate(500%) hue-rotate(180deg);}
  50%      { -webkit-filter: invert(10%) saturate(300%) hue-rotate(300deg);
  		     filter: invert(10%) saturate(300%) hue-rotate(300deg); }
  75%      { -webkit-filter: invert(10%) saturate(500%) hue-rotate(90deg);
                     filter: invert(10%) saturate(500%) hue-rotate(90deg);}
}






